{% extends "base.html" %}
{% block content%}
    <h1 style = " padding: 20px;text-align: center;">Wanted Criminal List</h1>
    <div class="grid-container">
        <div class="grid-item" id="prisoner3">
            <img src= "{{url_for('static',filename='/images/cat.svg')}}"alt="Prisoner 3">
            <div class="details">
              <h3>Prisoner 1</h3>
              <p>Details about Prisoner 1...</p>
            </div>
          </div>
          <div class="grid-item" id="prisoner3">
            <img src= "{{url_for('static',filename='/images/cat.svg')}}"alt="Prisoner 3">
            <div class="details">
              <h3>Prisoner 2</h3>
              <p>Details about Prisoner 2...</p>
            </div>
          </div>
          <div class="grid-item" id="prisoner3">
            <img src= "{{url_for('static',filename='/images/cat.svg')}}"alt="Prisoner 3">
            <div class="details">
              <h3>Prisoner 3</h3>
              <p>Details about Prisoner 3...</p>
            </div>
          </div>
          <div class="grid-item" id="prisoner3">
            <img src= "{{url_for('static',filename='/images/cat.svg')}}"alt="Prisoner 3">
            <div class="details">
              <h3>Prisoner 4</h3>
              <p>Details about Prisoner 4...</p>
            </div>
          </div>
          <div class="grid-item" id="prisoner3">
            <img src= "{{url_for('static',filename='/images/cat.svg')}}"alt="Prisoner 3">
            <div class="details">
              <h3>Prisoner 5</h3>
              <p>Details about Prisoner 5...</p>
            </div>
          </div>
          <div class="grid-item" id="prisoner3">
            <img src= "{{url_for('static',filename='/images/cat.svg')}}"alt="Prisoner 3">
            <div class="details">
              <h3>Prisoner 6</h3>
              <p>Details about Prisoner 6...</p>
            </div>
          </div>
          <div class="grid-item" id="prisoner3">
            <img src= "{{url_for('static',filename='/images/cat.svg')}}"alt="Prisoner 3">
            <div class="details">
              <h3>Prisoner 3</h3>
              <p>Details about Prisoner 3...</p>
            </div>
          </div>
          <div class="grid-item" id="prisoner3">
            <img src= "{{url_for('static',filename='/images/cat.svg')}}"alt="Prisoner 3">
            <div class="details">
              <h3>Prisoner 3</h3>
              <p>Details about Prisoner 3...</p>
            </div>
          </div>
          <div class="grid-item" id="prisoner3">
            <img src= "{{url_for('static',filename='/images/cat.svg')}}"alt="Prisoner 3">
            <div class="details">
              <h3>Prisoner 3</h3>
            </div>
          </div>
          </div>
{% endblock %}